* {
  box-sizing: border-box;
  }

body {
margin: 0;
min-height: 100vh;
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #dff6ff, #ffffff);

```
display: flex;
justify-content: center;
align-items: center;

text-align: center;
```

}

.container {
width: 90%;
max-width: 550px;

```
background: white;

padding: 30px;

border-radius: 30px;

box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
```

}

/* TÍTULO */

h1 {
color: #1565c0;
font-size: 36px;
margin-bottom: 5px;
}

.subtitulo {
font-size: 18px;
color: #555;
}

/* SEMÁFORO */

.semaforo {
background: #222;

```
width: 170px;

margin: 25px auto;

padding: 15px;

border-radius: 25px;
```

}

.luz {
width: 85px;
height: 85px;

```
border-radius: 50%;

margin: 15px auto;

opacity: 0.2;

transition: 0.2s;
```

}

/* LUZ VERDE */

.verde {
background: #00c853;
}

/* LUZ AMARELA */

.amarelo {
background: #ffd600;
}

/* LUZ VERMELHA */

.vermelho {
background: #d50000;
}

/* LUZ ACESA */

.acesa {
opacity: 1;

```
box-shadow: 0 0 35px white;
```

}

/* EMOJI */

#emoji {
font-size: 90px;

```
margin: 10px;
```

}

/* MENSAGEM */

#mensagem {
font-size: 28px;

```
font-weight: bold;

margin: 10px;
```

}

/* NÍVEL DO SOM */

#nivel {
font-size: 20px;

```
margin: 15px;
```

}

/* BARRA DE VOLUME */

.barra {
width: 100%;

```
height: 30px;

background: #ddd;

border-radius: 20px;

overflow: hidden;
```

}

#nivelBarra {
width: 0%;

```
height: 100%;

transition: width 0.2s;

background: #00c853;
```

}

/* BOTÃO */

button {
margin-top: 25px;

```
padding: 15px 30px;

border: none;

border-radius: 15px;

background: #1565c0;

color: white;

font-size: 20px;

font-weight: bold;

cursor: pointer;

transition: 0.3s;
```

}

button:hover {
background: #0d47a1;

```
transform: scale(1.05);
```

}

/* RODAPÉ */

.rodape {
margin-top: 20px;

```
color: #777;

font-size: 14px;
```

}

/* RESPONSIVIDADE */

@media (max
